PORT=4000

SUPABASE_URL=https://YourProject.supabase.co
SUPABASE_PUBLISHABLE_KEY=Your-Token
SUPABASE_SECRET_KEY=Your-Token
SUPABASE_JWKS_URL=https://YourProject/jwks.json

SUPABASE_Pass=gHdG7s/Mx.u/Sjd